@font-face {
  font-family: "Kobe";
  src: url("https://s3.eu-west-1.amazonaws.com/assets.applidget.com/Cofrex/Expo_Uni_Osaka/fonts/kobe11-bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}
